<html>
    <body style="background-color:rgb(77, 100, 61);text-align:center">
<div class = "container">
  <div [hidden]="submitted">
    <p class="title">grow a garden</p>
  <form (ngSubmit)="onSubmit()" #gardenForm="ngForm">
    <div class="form-group">
      <label class="formtitle" for="power">select username</label>
      <select class="form-control"  id="username"
              required
              [(ngModel)]="username" name="usernames">
        <option *ngFor="let user of usernames" [value]="user">{{user}}</option>
      </select>
    </div>
<br>
<div class="form-group">
  <label class="formtitle" for="name">garden name</label>
  <input type="text" class="form-control" id="name"
         required
         [(ngModel)]="model.gardenName" name="name"
         #name="ngModel">
         <div [hidden]="name.valid || name.pristine"
     class="alert alert-danger">
  garden name is required
</div>
</div>
<br>
<br>
<button type="submit" class="btn btn-success" [disabled]="!gardenForm.form.valid" >submit</button>
<br>
<br>
</form>
</div>


<div [hidden]="!submitted">
    <p class="formtitle">garden added!</p>
    <div class="row">
      <div class="col-xs-3">garden name:</div>
      <div class="col-xs-9">{{ model.gardenName }}</div>
    </div>
    <br>
    <button class="btn btn-success" (click)="submitted=false">grow another garden</button>
    <br>
    <br>
    <a href="/garden/{{model.gardenName}}/{{model.username}}"  class="btn btn-success" >go to {{model.gardenName}}</a>
    <br>
    <br>
  </div>
