
<div class="cards ; row row-cols-1 row-cols-md-4 g-4">

    <div class="card; shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
        <img src="{{content.openfarm_data.attributes.main_image_path}}" class="plant-image" alt="Photo not Available" width="255" height="155">
        <div class="card-body">
          <h5 class="card-title">{{ content.name }}</h5>
          <a class="link" href= "{{ content.en_wikipedia_url }}" target="_blank">view wikipedia page</a>
          <br>
          <br>
          <a href="{{ linkToPlant }}" class="btn btn-success">details</a>
        </div>
      </div>
    </div>