
<div class="cards ; row row-cols-1 row-cols-md-4 g-4">

    <div class="card; shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
        <img src="{{content.openfarm_data.attributes.main_image_path}}" class="card-img-top" alt="Photo not Available">
        <div class="card-body">
          <h5 class="card-title">{{ content.name }}</h5>
          <p class="card-text">{{ content.en_wikipedia_url }}</p>
          <a href="{{ linkToPlant }}" class="btn btn-primary">details</a>
        </div>
      </div>
    </div>