<html>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- <body style="background-color:rgb(77, 100, 61);text-align:center; shadow p-3 mb-5 bg-white rounded"> -->
        <div  class="card text-center" style="background-color:  rgb(77, 100, 61); " >
            <a href= "/gardener" class="choice">become a gardener</a>
            <a href= "/create-garden" class="choice">grow a garden</a>
            <a href= "/search-garden" class="choice">view gardens</a>
        </div>

    <!-- </body> -->
</html>