<html>
    <body style="background-color:rgb(77, 100, 61);text-align:center">
        <br>
        <div [hidden]="deleted">
        <div [hidden]="updated">
          <div [hidden]="plantdeleted">
        <h5 class="header">{{ name }}</h5>
        <button class="btn btn-outline-danger" (click)="deleteGarden()">delete {{name}}</button>
        <button class="btn btn-outline-success" (click)="updateButton()">rename {{name}}</button>
        <div class="cards ; row row-cols-1 row-cols-md-4 g-4">
<div *ngFor="let plant of allPlants">

    <div class="card ; shadow p-3 mb-5 bg-white rounded " style="width: 18rem;"  >
        <img src="{{plant.openfarm_data.attributes.main_image_path}}" class="plant-image" alt="Photo not Available" width="255" height="155">
        <div class="card-body">
          <h5 class="card-title">{{ plant.name }}</h5>
          <a class="link" href= "{{ plant.en_wikipedia_url }}" target="_blank">view wikipedia page</a>
          <br>
          <br>
          <a href="/plant/{{plant.name}}" class="btn btn-success">details</a>
          <br>
          <br>
          <button #plant.name class="btn btn-outline-danger" (click)="removePlant(plant.name)">remove plant from garden</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
<div [hidden]="!deleted">
  <h5 class="header">{{ name }} has been deleted</h5>
</div>
<div [hidden]="!updated">
  <form>
    <label for="fname" class= "fname">Rename {{ name }} to:</label><br>
    <br>
    <input #newname class= "input" type="text" id="newname" name="newname" ><br>
    <br>
    <button class="btn btn-outline-success" (click)="updateGarden(newname.value)">rename {{name}}</button>
    <br>
    <button class="btn btn-outline-success" (click)="goBack()">go back</button>
  </form>
</div>

<div [hidden]="!plantdeleted">
<h5>(plantName) has been deleted</h5>
<button class="btn btn-outline-success" (click)="goBack()">go back</button>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
</html>