<html>
    <body style="background-color:rgb(77, 100, 61);text-align:center">
<div class = "container">
  <div [hidden]="submitted">
    <p class="title">become a gardener</p>
<form (ngSubmit)="onSubmit()" #gardenForm="ngForm">
  <div class="form-group">
    <label class="formtitle" for="username">create a username</label>
    <input type="text" class="form-control" id="username"
           required
           [(ngModel)]="username" name="username"
           #name="ngModel">
           <div [hidden]="name.valid || name.pristine"
       class="alert alert-danger">
    username is required
  </div>
  </div>
<br>
<button type="submit" class="btn btn-success" [disabled]="!gardenForm.form.valid" >submit</button>
</form>
</div>

<br>
<br>

<div [hidden]="!submitted">
  <p class="formtitle">gardener created!</p>
    <div class="row">
      <div class="col-xs-3">username:</div>
      <div class="col-xs-9">{{ username }}</div>
    </div>
    <br>
  <a href="/create-garden"  class="btn btn-success" >grow a garden</a>
  <br>
  <br>
  <a href="/plant-list"  class="btn btn-success" >view plants</a>
  <br>
  <br>
</div>
</div>
</body>
</html>

