.card {
    width: 100%;
    top: 50px;
    margin: 0 auto;
    float: none; 
    margin-bottom: 10px;
    z-index: 1;
}

.card-title {
    font-size: 30px;
    font-family: Fredericka the Great;
    color: whitesmoke;
}

.card-body{
    background-color: rgb(77, 100, 61);
    min-height: 200px;
}

.card-text{
    font-size: 18px;
    font-family: IM Fell English SC;
    color: whitesmoke;
    
}

.btn {

    font-size: 16px;
    font-family: IM Fell English SC;

}

.body {
    min-height: 100%
}

.container {
    font-family: IM Fell English SC;
    font-size: 14px;
    /* width: 500px;
    height: 200px;
    margin-left: 600px;
    margin-top: 50px; */
    width: 20%;
    margin: 0 auto;
    float: none; 
    margin-bottom: 10px;
  }

  .plant-image{
    font-size: 16px;
    font-family: IM Fell English SC;
    color: whitesmoke;
}

