<html>
  <body style="background-color:rgb(77, 100, 61);text-align:center">
  <div class="card; shadow p-3 mb-5 bg-white rounded" >
    <div class="card-body">
      <h5 class="card-title">{{ plant.name }}</h5>
      <img src="{{plant.openfarm_data.attributes.main_image_path}}" class="plant-image" alt="Photo not Available" width="500" height="300">
      <p class="card-text">Perennial: {{ plant.perennial }}</p>
      <p class="card-text">Median lifespan: {{ plant.median_lifespan }} days</p>
      <p class="card-text">Days to first harvest: {{ plant.median_days_to_first_harvest }} days</p>
      <p class="card-text">Days to last harvest: {{ plant.median_days_to_last_harvest }} days</p>
      <p class="card-text">{{ plant.openfarm_data.attributes.description }}</p>
      <p class="card-text">Row Spacing: {{ plant.openfarm_data.attributes.row_spacing }}</p>
      <p class="card-text">Spread: {{ plant.openfarm_data.attributes.spread }} cm</p>
      <p class="card-text">Height: {{ plant.openfarm_data.attributes.height }} cm</p>
      <p class="card-text">Sowing Method: {{ plant.openfarm_data.attributes.sowing_method }}</p>
      <p class="card-text">Sun Requirements: {{ plant.openfarm_data.attributes.sun_requirements }}</p>
      <p class="card-text">Growing Degree Days: {{ plant.openfarm_data.attributes.growing_degree_days }} days</p>

      <div class = "container">
    <h5 class="card-title">plant in existing garden</h5>
    <div [hidden]="submitted">
    <form (ngSubmit)="addUserGardens2(username)" #gardenForm="ngForm">
    <div class="form-group">
      <label class="formtitle" for="power">select username</label>
      <select class="form-control"  id="username"
              required
              [(ngModel)]="username" name="usernames">
        <option *ngFor="let user of usernames" [value]="user">{{user}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!gardenForm.form.valid" >enter username</button>
</form>
</div>
<br>
<div [hidden]="!submitted">
    <div class="form-group">
      <label class="formtitle" for="power">select garden</label>
      <select class="form-control"  id="garden"
              required
              [(ngModel)]="gardenName" name="gardenname">
        <option *ngFor="let garden of gardenNames" [value]="garden">{{garden}}</option>
      </select>
    </div>
    <div class="form-group"> 
      </div>
    <a href="/garden/{{gardenName}}/{{username}}"  class="btn btn-success" (click)="addToGarden()">plant in garden</a>
  </div>
  <h5 class="card-title">or</h5>
    <a href="/create-garden" class="btn btn-success">create garden</a>
  </div>
  
    </div>
    </div>
  </body>
</html>


  