<html>
    <body style="background-color:rgb(77, 100, 61);text-align:center">
<div class = "container">
<div [hidden]="submitted">
<form (ngSubmit)="addUserGardens2(username)" #gardenForm="ngForm">
  <div class="form-group">
    <label class="formtitle" for="username">username</label>
    <p>select the gardeners username for the gardens youd like to see</p>
      <select class="form-control"  id="username"
              required
              [(ngModel)]="username" name="usernames">
        <option *ngFor="let user of usernames" [value]="user">{{user}}</option>
      </select>
    </div>
<br>
<button type="submit" class="btn btn-success" [disabled]="!gardenForm.form.valid" >submit</button>
<br>
  <br>
</form>
</div>

<div [hidden]="!submitted">
  <p class="formtitle"> {{ username }}'s gardens </p>
  <div class="row">
    <a href="{{ linkToGarden }}" class="btn btn-outline-light" (click)= goToGarden(string) *ngFor="let string of gardenString"> {{ string }}</a>
  </div>
  <br>
  <button class="btn btn-success" (click)="submitted=false">search a different gardener</button>
  <br>
  <br>
</div>
</div>
</body>
</html>