<html>
    <body style="background-color:rgb(77, 100, 61);text-align:center">
<div class = "container">
<div [hidden]="submitted">
<form (ngSubmit)="addUserGardens(username)" #gardenForm="ngForm">
  <div class="form-group">
    <label class="formtitle" for="username">username</label>
    <p>enter the gardeners username for the gardens youd like to see</p>
    <input type="text" class="form-control" id="username"
           required
           [(ngModel)]="username" name="username"
           #name="ngModel">
           <div [hidden]="name.valid || name.pristine"
       class="alert alert-danger">
    username is required
  </div>
  </div>

<button type="submit" class="btn btn-success" [disabled]="!gardenForm.form.valid" >submit</button>
</form>
</div>

<div [hidden]="!submitted">
  <p class="formtitle"> {{ username }}'s gardens </p>
  <div class="row">
    <a href="{{ linkToGarden }}" class="btn btn-outline-light" (click)= goToGarden(garden.gardenName) *ngFor="let garden of gardens"> {{ garden.gardenName }}</a>
  </div>
  <br>
  <button class="btn btn-success" (click)="submitted=false">search a different gardener</button>
</div>